.contact__container {
  padding-top: 77px;
  padding-bottom: 155px;
  background: url("../img/contact-img-desktop.jpg") no-repeat;
  background-size: 844px 455px;
  background-position: 13px 6px;

  @media (max-width: $width-desktop+px) {
    background-size: 100% 455px;
    padding-top: 83px;
    padding-bottom: 75px;
    background-position: 0 13px;
  }

  @media (max-width: $width-tablet+px) {
    padding: 0;
  }
}

.contact__form {
  width: 656px;
  min-height: 315px;
  background: #ffffff;
  box-shadow: 0 4px 30px rgba(41, 54, 66, 0.1);
  border-radius: 5px;
  padding: 50px 50px 49px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 19px;
  margin-left: auto;

  @media (max-width: $width-desktop+px) {
    min-height: 311px;
    right: initial;
    margin: 0 auto;
    padding: 50px;
    column-gap: 20px;
    align-items: start;
  }

  @media (max-width: $width-tablet+px) {
    padding: 50px 16px;
    grid-template-columns: 1fr;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    background: #fbf8f8;
  }
}

.contact__title {
  grid-column: 1/-1;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  margin-bottom: 11px;
  color: $dark-color;
  text-align: center;

  @media (max-width: $width-desktop+px) {
    margin-bottom: 11px;
  }

  @media (max-width: $width-tablet+px) {
    margin-bottom: 20px;
  }
}

.contact__subtext {
  grid-column: 1/-1;
  font-size: 16px;
  line-height: 150%;
  color: $dark-color;
  margin-bottom: 24px;
  text-align: center;

  @media (min-width: $width-tablet+px) {
    margin-bottom: 22px;
  }

  @media (max-width: $width-tablet+px) {
    margin-bottom: 19px;
  }
}

.contact__input {
  width: 100%;
}

.contact__label {
  width: 100%;
  @media (max-width: $width-tablet+px) {
    margin-bottom: 20px;
  }
}

.contact__input--tel {
  @media (max-width: $width-tablet+px) {
    height: 50px;
    margin-bottom: 20px;
  }
}

.contact__btn-submit {
  margin-top: 25px;
  justify-self: center;
  min-height: 50px;
  width: 176px;
  grid-column: 1/-1;

  @media (max-width: $width-desktop+px) {
    margin-top: 20px;
    width: 250px;
  }

  @media (max-width: $width-tablet+px) {
    width: 288px;
  }
}
